h1 {
  font-size: 110px;
  font-family: font-auto1-black-smcp;
}
h2 {
  font-size: 52px;
  font-family: font-auto1-black-smcp;
}
h3 {
  font-family: roboto-black;
  font-size: 48px;
}
h4 {
  font-size: 26px;
  font-family: font-auto1-black-smcp;
}
h5 {
  font-family: roboto-bold;
  font-size: 24px;
}
h6 {
  font-family: roboto-bold;
  font-size: 22px;
  font-weight: 600px;
}
p {
  font-size: 24px;
  font-family: roboto;
}
@media screen and (max-width: 650px) {
  h1 {
    font-size: 38px;
  }
  h2 {
    font-size: 36px;
  }
  h3 {
    font-size: 26px;
  }
  h5 {
    font-size: 20px;
  }
  p {
    font-size: 18px;
    line-height: 20px;
  }
}
.t1 {
  font-family: font-auto1-black;
  font-size: 35px;
  font-feature-settings: "smcp" off;
}
.t2 {
  font-family: font-auto1-black-lf;
  font-size: 35px;
}
.t3 {
  font-family: font-auto1-black-smcp;
  font-size: 35px;
}
.t4 {
  font-family: font-auto1-bold;
  font-size: 35px;
}
.t5 {
  font-family: font-auto1-light;
  font-size: 35px;
}
.t6 {
  font-family: font-auto1-regular;
  font-size: 35px;
}
.t7 {
  font-family: font-auto1-regular-smcp;
  font-size: 35px;
}
.t8 {
  font-family: font-auto1-bold-smcp;
  font-size: 35px;
}
@font-face {
  font-family: font-auto1-black;
  src: url('../resources/font/Font-Auto1/Auto1Black.otf') format('opentype');
}
@font-face {
  font-family: font-auto1-black-lf;
  src: url('../resources/font/Font-Auto1/Auto1BlackLF.otf');
}
@font-face {
  font-family: font-auto1-black-smcp;
  src: url('../resources/font/Font-Auto1/Auto1BlackSmCp.otf');
}
@font-face {
  font-family: font-auto1-bold;
  src: url('../resources/font/Font-Auto1/Auto1Bold.otf');
}
@font-face {
  font-family: font-auto1-light;
  src: url('../resources/font/Font-Auto1/Auto1Light.otf');
}
@font-face {
  font-family: font-auto1-regular;
  src: url('../resources/font/Font-Auto1/Auto1Regular.otf');
}
@font-face {
  font-family: font-auto1-regular-smcp;
  src: url('../resources/font/Font-Auto1/Auto1RegularSmCp.otf');
}
@font-face {
  font-family: font-auto1-bold-smcp;
  src: url('../resources/font/Font-Auto1/Auto1BoldSmCp.otf') format('opentype');
  font-weight: 600;
}
@font-face {
  font-family: roboto;
  src: url('../resources/font/Roboto/Roboto-Regular.ttf');
}
@font-face {
  font-family: roboto-black;
  src: url('../resources/font/Roboto/Roboto-Black.ttf');
  font-weight: 400;
}
@font-face {
  font-family: roboto-bold;
  src: url('../resources/font/Roboto/Roboto-Bold.ttf');
  font-weight: 600;
}
@font-face {
  font-family: roboto-thin;
  src: url('../resources/font/Roboto/Roboto-Thin.ttf');
  font-weight: 300;
}
#about {
  padding: 100px 80px;
  text-align: center;
  color: #1F2A44;
}
#about h4 {
  margin-bottom: 20px;
}
#about > .about-grid {
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
#about > .about-grid > .about-grid__item {
  width: 30%;
  min-width: 300px;
  margin-bottom: 30px;
  font-size: 24px;
}
#about > .about-grid > .about-grid__item img {
  min-width: 300px;
  height: 320px;
  margin-bottom: 20px;
}
#about > .about-grid > .about-grid__item h5 {
  margin-bottom: 20px;
}
@media screen and (max-width: 1150px) {
  #about {
    padding: 40px 20px;
  }
  #about > .about-grid {
    margin-top: 40px;
    justify-content: center;
  }
  #about > .about-grid > .about-grid__item {
    max-width: auto;
  }
}
