#footer {
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#footer > img {
  margin-bottom: 30px;
}
#footer > div a {
  display: inline-block;
  padding-right: 30px;
}
#footer > div a:last-of-type {
  padding-right: 0px;
}
#footer > div a img {
  height: 25px;
}
